<div class="accordion">
    <!-- panel-group -->
    <div class="panel-group" id="accordion">
         
        <!-- panel -->
        <div class="panel panel-default panel-faq">
            <!-- panel-heading -->
            <div class="panel-heading">
                <div  class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
                        <h4>Dashboard<span class="pull-right"><i class="fa fa-minus"></i></span></h4>
                    </a>
                </div>
            </div><!-- panel-heading -->

            <div id="accordion-one" class="panel-collapse collapse in">
                <!-- panel-body -->
                <div class="panel-body">
                    <h5><a href=""><i class="fa fa-address-book"></i> Classes</a></h5>
                    <h5><a href="/students"><i class="fa fa-graduation-cap"></i> Students</a></h5>
                    <!-- <a href="/newjob"><i class="icofont icofont-man-in-glasses"></i>New Student</a><br> -->
                    
                </div><!-- panel-body -->
            </div>
        </div><!-- panel -->
     </div><!-- panel-group -->
</div>
